<nav class="navbar navbar-expand-lg navbar-light mt-3">
    <div class="d-flex">
        <!-- <a class="navbar-brand m-4" id="nav-title" href="#">AQUADA</a>-->
        <img class="m-4" src="img/title.png" id="titlesize">
        <img src="img/shrimplogo.png" id="logosize" alt="Kiwi standing on oval">

        <form class="form-inline my-2 my-lg-0">
            <button class="search-button">🔍</button>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

        </form>
    </div>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-center">
            <li class="nav-item ml-4 active">
                <a class="nav-link" href="#">Offers <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link" href="#">Shrimps</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="dropdown" data-toggle="dropdown" aria-expanded="false">
                <li class="row nav-item">
                    <div class="col-3">
                        <img class="nav-link" id="signin-border" src="img/signin.png" alt="">
                    </div>
                    <div class="col-9">
                        <a class="nav-link" role="button" href="#">Sign in</a>
                    </div>
                </li>
                <div class="dropdown-menu">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Name / Email</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword1">
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="form-check d-flex justify-content-between">
                            <div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div>
                                <label class="form-check-label" for="dropdownCheck">Remember me</label>
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <li class="row nav-item">
                <div class="col-3">
                    <img class="nav-link" src="img/signin.png" alt="">
                </div>
                <div class="col-9">
                    <a class="nav-link" role="button" href="#">Cart</a>
                </div>
            </li>
        </div>
    </div>
</nav>