{% extends "extendables/bases/base.html" %}

{% block body %}
<div class="container-aquada">
    {% include "partials/_nav.html" %}
    <div class="main">
        <div class="row content-wrapper">
            <div class="sidebar col-xl-4">
                {% block sidebar_header %}

                {% endblock %}
                {% block sidebar_content %}

                {% endblock %}
            </div>
            <div class="content col-xl-8">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}