{% macro getProduct(title, rating, price, image, responsive=true) %}
{% if responsive %}
<div class="product col-md-12 col-lg-12 col-sm-12">
    {% else %}

    <div class="cart-product">
        {% endif %}
        <div class="product-content-cart">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <img src="{{image}}" class="checkout-product">
                    </div>
                </div>
                <div class="col-md-10 prod product-info-cart">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="left-content-cart grey-border-right d-flex justify-content-between">
                                <div class="title-cart">
                                    <div class="row height-twentyfour">
                                        <h3 class="product-title">{{ title }}</h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row width-rating-cart mt-3">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex">
                                                        {% for i in range(rating) -%}
                                                        <div class="star full-star"></div>
                                                        {%- endfor %}
                                                    </div>
                                                    <div>
                                                        <span class="ml-3 tertiary-text">{{ rating }}</span>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-md-12 move-instock-up">
                                                            <span class="ml-3 in-stock">In Stock </span>
                                                            <img src="img/check.png" class="check">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-cart">
                                    <div class="row height-twentyfour">
                                        <label class="cart-price-label">Base price</label>
                                    </div>
                                    <div class="row">
                                        <h3 class="product-price primary-text">$ {{ price }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row ammount-row-checkout d-flex justify-content-between cart-ammount-row-width">
                                <div class="col-md-7">
                                    <label class="ammount-cart-label" for="">Ammount</label>
                                </div>
                                <div class="col-md-5">
                                    <label class="ammount-cart-label" for="">{{ ammount }}2</label>
                                </div>
                            </div>
                            <div class="row cart-ammount-row-width mt-2">
                                <div class="col-md-6 col-12">
                                    <button class="cart-plus-button">+</button>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="dropdown">
                                        <button class="cart-plus-button" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-</button>
                                        <div class="dropdown-menu ammount-minus-dropdown "
                                            aria-labelledby="dropdownMenuButton">
                                            <div class="row">
                                                <div class="ml-4">
                                                    <label for="">Remove?</label>
                                                    <a class="ml-3 cart-anchor-text-color " href="">Yes</a> /
                                                    <a class="ml-3 cart-anchor-text-color " href="">No</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}