{% macro getOffer(product_title, product_sub_title, product_prev_price, product_current_price, expiry_time) %}
<div class="offer-wrapper mb-4">
    <div class="offer-item">
        <div class="offer-item-title">
            <h3 class="offer-item-title-head">FEATURED LIMITED TIME DEAL</h3>
            <h3 class="offer-item-title-sub">
                OFFER EXPIRES IN {{ expiry_time }}
            </h3>
        </div>
        <div class="offer-item-description">
            <div class="offer-item-image">
                <img src="img/Group%2026@2x.png">
            </div>
            <div class="offer-item-description-title">
                <h3 class="offer-item-description-title-sub secondary-text">
                    {{ product_sub_title }}
                </h3>
                <h3 class="offer-item-description-title-head secondary-text">
                    {{ product_title }}
                </h3>
            </div>
            <div class="offer-item-content row">
                <div class="offer-item-attributes no-gutters col-sm-12 col-lg-6">
                    <div class="row">
                        <ul class="col">
                            <li>2200 watts</li>
                            <li>46kg</li>
                        </ul>
                        <ul class="col">
                            <li>2 Sockets</li>
                            <li>230V</li>
                        </ul>
                    </div>
                </div>
                <div class="offer-item-price-area col">
                    <div class="offer-item-prices">
                        <div class="d-flex flex-row-reverse">
                            <span class="offer-item-previous-price text-right">
                                $ {{ product_prev_price }}</span>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <span class="offer-item-current-price primary-text">$ {{ product_current_price }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}