{% macro getProduct(title, name, days, image, price, responsive=true) %}
{% if responsive %}
<div class="col-md-11 col-lg-11 col-sm-11 mt-1">
    {% else %}
    <div class="cart-product">
        {% endif %}
        <div class="shrimp-content-cart">
            <div class="row no-gutters pt-2">
                <div class="col-md-2 pb-0">
                    <img src="{{image}}" class="shrimp-product">
                </div>
                <div class="col-md-10 prod shrimp-info-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-content-cart d-flex justify-content-between">
                                <div class="title-cart">
                                    <div class="row height-twentyfour">
                                        <h3 class="product-title">{{ title }}</h3>
                                    </div>
                                    <div class="row mt-3">

                                        <div class="d-flex justify-content-between">
                                            <div class="shrimp-user-name">
                                                <img src="img/shrimp-user-icon.png" alt="">
                                                <label class="user-icon-shrimps" for="">{{ name }}</label>
                                                <img class="ml-2"src="img/dot-shrimps-description.png" alt="">
                                                <label class="user-icon-shrimps ml-2" for="">History available?</label>
                                                <img src="img/check.png" class="check">
                                                <img class="ml-2"src="img/dot-shrimps-description.png" alt="">
                                                <label class="user-icon-shrimps ml-2" for="">{{ days }} days ago</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="price-cart">
                                    <div class="row justify-content-end">
                                        <span>{{ kg }}kg</span>
                                    </div>
                                    <div class="row">
                                        <h3 class="product-price primary-text">$ {{ price }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}