{% macro getProduct(title, rating, price, image, amount, responsive=true) %}
{% if responsive %}
<div class="product col-md-12 col-lg-12 col-sm-12">
    {% else %}
    <div class="cart-product">
        {% endif %}
        <div class="product-content-cart">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <img src="{{image}}" class="checkout-product">
                    </div>
                </div>
                <div class="col-md-10 prod product-info-cart">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-content-cart d-flex justify-content-between">
                                <div class="title-cart">
                                    <div class="row height-twentyfour">
                                        <h3 class="product-title">{{ title }}</h3>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row width-rating-cart mt-3">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex">
                                                        {% for i in range(rating) -%}
                                                        <div class="star full-star"></div>
                                                        {%- endfor %}
                                                    </div>
                                                    <div>
                                                        <span class="ml-3 tertiary-text">{{ rating }}</span>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-md-12 move-instock-up">
                                                            <span class="ml-3 in-stock">In Stock </span>
                                                            <img src="img/check.png" class="check">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-cart">
                                    <div class="row height-twentyfour mr-3">
                                        <span>{{ kg }}kg</span>
                                    </div>
                                    <div class="row">
                                        <h3 class="product-price primary-text">$ {{ price }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}