{% extends "extendables/bases/single_base.html" %}
{% import "extendables/items/product.html" as product %}

{% block content %}
<div class="content col-md-10 row mt-0">

    <div class="col-md-1">
        <div class="row return d-flex justify-content-center">
            <button class="back-button"></button>
        </div>
    </div>

    <div class="content-container col">
        <div class="content-header pb-3">
            <h1 style="
    color: white;
">Lucantin® Pink (Astaxanthin)</h1>

        </div>
        <div class="cont row">
            <div class="cont-sidebar col-md-4">
                {{ product.getProduct('Sun Grow Shirakura', '4.9', '13.00', 'img/Group 2@2x.png', weight='1', responsive=false) }}
                <div class="row no-gutters py-4">
                    <div class="col-10 action-area">
                        <button class="primary-gradient primary-button">Add to cart</button>
                    </div>
                    <div class="ml-1 filter">x1</div>
                </div>
            </div>
            <div class="col-md-8 pl-5">
                <div class="row">
                    <div class="cont-header">
                        <h3>Everybody´s favorite color for everybody´s favorite food.</h3>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="cont-description col-md-11">
                        <p>Fish, like salmon, trout and crustaceans, for example, use red carotenoid pigments for
                            camouflage and communication. Fish lovers prefer their favorite food colored a delicious
                            pink. Lucantin® Pink is the most efficient way to achieve perfect pigmentation in
                            aquaculture.</p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class=""><span>In Stock </span></div>
                    <div class="ml-1"><img src="img/check.png" class="check"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <span class="sub-text">Usage</span>
                        </div>
                        <div class="row">
                            <span class="main-text">6th Month</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <span class="sub-text">Dosage</span>
                        </div>
                        <div class="row">
                            <span class="main-text">50-200 mg/kg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}